<!DOCTYPE html> 
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{pageTitle}} by V</title> 
    </head>   
    <body>
        {{> header}}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At suscipit inventore quae laborum aut totam sit omnis dicta, eaque aliquam, incidunt hic, non temporibus aspernatur voluptates vitae? Hic, qui aspernatur!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit maiores impedit expedita deserunt voluptate. Eum eius, eos, accusamus laborum unde a voluptas libero assumenda cum voluptatem similique aliquam ratione labore!</p>
        <p>A voluptate enim error nobis explicabo reprehenderit excepturi eum, sequi laboriosam quod, nulla illo dignissimos sed laudantium aliquam esse minus debitis facere pariatur quia repellendus molestiae at nemo. Voluptates, ipsa.</p>
        <p>Quos eveniet harum maxime quod obcaecati dolorum voluptates fugiat facilis officiis perspiciatis quam officia aut consectetur, nostrum autem exercitationem. Ipsam saepe obcaecati, ipsum consequatur dolorem placeat voluptatem possimus omnis assumenda?</p>
        {{> footer}}
    </body>
</html>