<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{pageTitle}}</title> 
    </head>   
    <body>
        <h1>{{pageTitle}}</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At suscipit inventore quae laborum aut totam sit omnis dicta, eaque aliquam, incidunt hic, non temporibus aspernatur voluptates vitae? Hic, qui aspernatur!</p>
    </body>
</html>