<!DOCTYPE html> 
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{pageTitle}}</title> 
    </head>   
    <body>
        {{> header}}
        <p>All my projects will go here or something!</p>
        {{> footer}}
    </body>
</html>