<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{pageTitle}} by V</title> 
    </head>   
    <body>
        {{> header}}
        {{screamIt pageTitle}}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At suscipit inventore quae laborum aut totam sit omnis dicta, eaque aliquam, incidunt hic, non temporibus aspernatur voluptates vitae? Hic, qui aspernatur!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit maiores impedit expedita deserunt voluptate. Eum eius, eos, accusamus laborum unde a voluptas libero assumenda cum voluptatem similique aliquam ratione labore!</p>
        {{> footer}}
    </body>
</html>