<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{pageTitle}}</title> 
    </head>   
    <body>
        {{> header}}
        {{screamIt welcomeMessage}}
        <p>That text above was typed in lowercase, but using HBS it was converted to uppercase. Yay Handlebars!</p> 
        <p>If you're seeing this, it's because I modified all my files and then pushed to GitHub and the changes went to Heroku.</p>
        {{> footer}}
    </body>
</html>